@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap");

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  right: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 3;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  transition-duration: 0.25s;
}

.menu__btn>span::before {
  content: "";
  top: -8px;
}

.menu__btn>span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 80px 0;
  list-style: none;
  background-color: #5b8291;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.5s;
}

.menu_item_img {
  display: flex;
  justify-content: center;
  background-color: #222121;
  height: 100px;
}

.imgLogo {
  position: relative;
  margin: 0 auto;
  padding-bottom: 0;
}

.logo_name {
  background-color: #222121;
  color: #eaebed;
  display: block;
  text-align: center;
  font-size: 2rem;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 1rem;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #98dad9;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  transition-duration: 0.25s;
}

.menu__item:hover {
  color: #eaebed;
  background: linear-gradient(80deg, #2e424d, #5b8291, #98dad9);
  animation: forwards;
}

.social {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  row-gap: 20px;
  position: relative;
  justify-content: center;
  padding: 5px;
}

.linkedin {
  margin-right: 10px;
}

body {
  font-family: "Merriweather", serif;
  background-color: #2e424d;
  display: block;
}

h1 {
  color: #98dad9;
  font-family: "Sacramento", cursive;
  font-size: 3rem;
}

p {
  line-height: 2;
  color: whitesmoke;
}

hr {
  border: dotted #eaebed 6px;
  border-bottom: none;
  width: 10%;
  
  margin: 100px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #98dad9;
  font-weight: normal;
  padding-bottom: 10px;
}

a {
  color: #98dad9;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #98dad9;
}

.top-container {
  margin-top: 11%;
  width: 75%;
  margin-bottom: 10%;
}

.profile-pic {
  height: 200px;
  width: 200px;
  margin: 1% 1%;
  border-radius: 50%;
}



.skill-row {
  width: 75%;
  margin: 5% 1%;
  text-align: left;
  line-height: 2;
  
}

.computer-img {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.intro {
  width: 75%;
  margin-left: 1%;
}

.contact-message {
  width: 75%;
  margin: 40px 1%;
}

.btn {
  border-radius: 5px;
  
  margin-left: 5px;
  border: 2px solid #333;
  padding: 16px;
  background: linear-gradient(80deg, #2e424d, #5b8291, #98dad9);
  animation: forwards;
  color: whitesmoke; 
}


.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}


@media screen and (min-width: 900px) {
  body {
    margin-left: 10rem;
    padding-left: 1rem;
    }

    .menu__btn {
      visibility: hidden;
      display: none;
    }

  .menu {
    text-align: center;
    background-color: #333;
    width: 10rem;
    position: fixed;
    left: 0;
    top: 0;
    right: auto;
    bottom: 0;
    display: flex;
    z-index: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
  }

  .logo-container {
    position: fixed;
    background-color: #222121;
    padding: 10px 0;
    top: 0;
  }

  .menuLogo {
    background-color: #222121;
    margin: 10px 30px 10px;
    display: flex;
    flex-direction: column;
    ;
  }

  .imglogo {
    width: 100px;
    height: auto;
  }

  .logo_name {
    display: flex;
    font-size: 2rem;
    padding-left: 5px;
    margin-top: -15px;
    margin-bottom: 5px;
    color: #eaebed;
  }

  .menu__box {
    text-align: center;
    background-color: #333;
    padding: 0;
    width: 10rem;
    position: fixed;
    left: 0;
    top: 45%;
    display: block;
    z-index: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
  }

  .menu__item {

    display: inline-block;
    padding: 5px 0;
    color: #98dad9;
    columns: 100%;
    column-gap: 20px;
    width: 100%;
    height: 5%;
    background-color: #333;
    text-align: center;
    border-top: 1px solid #98dad9;
    border-bottom: 1px solid #98dad9;
    align-items: center;
    vertical-align: middle;
  }

  .menu__item:hover {
    color: #eaebed;
    background: linear-gradient(80deg, #2e424d, #5b8291, #98dad9);
    animation: forwards;
  }

  

  .social {
    position: fixed;
    display: block;
    z-index: 3;
    align-items: center;
    left: 54px;
    bottom: 6%;
  }

  .linkedin {
    padding: 6px;
    display: inline-block;
    animation: float 5s ease-in-out infinite;
  }

  .github {
    display: inline-block;
    animation: float 5s ease-in-out infinite;
    animation-delay: 1s;
    padding: 6px;
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-15px);
    }

    100% {
      transform: translateY(0);
    }
  }
}